.search {
    position: relative;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 3px solid #0e624a;
    border-radius: 40px;
    padding: 0 15px;
    margin-left: 3.5rem;
    margin-right: 159px;
}

.searchInput {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    width: 317px;
    height: 35px;
    color: #0e624a;
    font-family: "Fredoka One", sans-serif;
}

.placeholder {
    position: absolute;
    left: 12px;
    pointer-events: none;
    user-select: none;
    color: #0e624a;
    font-size: 24px;
}

.searchInput:focus ~ .placeholder {
    display: none;
}

.searchIcon {
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 1154px) {
    .search {
        display: none;
    }
}
