.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 165px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.headerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.socialContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.headerTextSection p {
    text-align: end;
}
.logo {
    position: absolute;
    top: 0.2rem;
    margin-left: 2.5rem;
    z-index: 2;
}

.headerTextSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1.3rem 1rem;
}
.headerTextSection p {
    margin-right: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: #114b5f;
}
.headerTextSection span {
    font-size: 16px;
    font-weight: 500;
    color: #8ac6d1;
}
.sideBarContainer {
    display: none;
}
@media screen and (max-width: 1330px) {
    .headerTextSection p {
        padding-left: 10rem;
    }
}
@media screen and (max-width: 1154px) {
    .sideBarContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .sideBarButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80px;
        padding: 1rem 4rem;

        height: 100%;
    }
    .socialContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .headerContainer {
        display: flex;
        min-height: 150px;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 950px) {
    .headerTextSection p {
        padding-left: 6rem;
        font-size: 14px;
    }
    .sideBarButtons {
        padding: 1rem 2rem;
        margin: 0;
    }

    .headerTextSection span {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .headerTextSection p {
        padding-left: 4rem;
        font-size: 12px;
    }
    .sideBarButtons {
        padding: 0 2rem 2rem 0;
        margin-top: 2rem;
    }
    .headerTextSection span {
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .headerTextSection p {
        padding-left: 8rem;
        font-size: 10px;
    }

    .headerTextSection span {
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .headerTextSection p {
        padding-left: 8rem;

        font-size: 10px;
    }
    .headerTextSection {
        padding-right: 0;
    }
    .sideBarButtons {
        padding: 0 1rem 1rem 0;
    }
    .headerTextSection span {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .headerTextSection {
        display: none;
    }
    .sideBarButtons {
        padding: 0 3rem 2rem 2rem;
    }
}
@media screen and (max-width: 450px) {
    .sideBarButtons {
        padding: 1rem 2rem;
    }
    .logo {
        margin-left: 1rem;
    }
}
